nav ul li{list-style: none;
}
nav ul a{text-decoration: none;}
nav ul{display: flex;
    justify-content: space-between;
    
}
.banner{text-align: center;
margin-top: 300px;

justify-content: center;
max-width: 905px;padding-left: 267px;
padding-bottom: 200px;}
.banner-heading{font-size: 64px;
font-weight: bold;}
.logo{color: #4E47FF;
font-size: 34px;
font-weight: 700;}
.btn-primary{background-color: #4E47FF;
color: white;border-radius: 6px;
border: none;
padding: 12px 36px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
}
 .btn-primary:hover{background-color:rgb(0, 3, 5);}
header{background-image: url(../Assets/Hero-bg.png);
max-width: 1440px;
}
.action{display: flex;
max-width: 1140px;gap: 50px;
justify-content: center;
justify-content: space-between;
padding: 131px 150px;
}
.action-title{font-size: 42px;
font-weight: bold;}
.action-subtitle{font-size: 24px;
color: #252432;}
.img1{border-radius: 48px;}
.sec{max-width: 1140px;
background-color: aquamarine;
justify-content: center;
margin: 130px;border-radius: 24px;}
.users{display: flex;
justify-content: center;
justify-content: space-between;
max-width: 1140px;
margin-left: 130px;}

.users-title{text-align: center;
font-size: 38px;
font-weight: bold;padding-top: 40px;}
.number{font-size: 80px;
    font-weight: 700;color: #4E47FF;justify-content: space-between;
padding-right: 100px;}
    .subtitle{font-size: 20px;
    color: #000000;}
    .extra-skill{max-width: 1140px;
    text-align: center;
    max-width: 1140px;
   
    justify-content: center;
    text-align: center;
    border-radius: 14px;

margin: 150px;}
    .extra-head{font-size: 42px;
    font-weight: bold; margin-left: 150px;
margin-right: 150px;}
    .skill-title{font-size: 29px;
    font-weight: bold;}
    .skill{display: flex;gap: 24px;justify-content: center;
    margin: 130px;justify-content: space-between;}
    .skill-content{padding: 10px;
      box-shadow: 0 6px 50px 0 rgba(0, 0, 0,0.06);
    border-radius: 14px;margin: 0 auto;width: 100%;}
    .skill-star i{color: gold;}
    .skill-star{}

    .ready{background-color: aqua;
    max-width: 1140px;
   
    justify-content: center;
    text-align: center;
    border-radius: 14px;

margin: 150px;}
 .ready-title{font-size: 50px;
font-weight: bold;padding-left: 30px;}
.ready-subtitle{color: #000000;
font-size: 20px;}
.bigpc{border-radius: 48px;padding-top: 20px;}
.focus{display:block;padding: 71px 150px;}
.form-part{max-width: 1140px;
     justify-content: center;
    
    border-radius: 14px;

margin: 150px;
display: flex;margin: 150px;}
form{ justify-content: center;
   
    border-radius: 14px;
    margin: 150px;
}
.in-touch{font-size: 98px;
font-weight: bold;}
form input[type="text"]{ height: 70px;
      border-radius: 5px;
      width: 100%;
      background-color: white;
      padding:10px 20px;
      
      border: 1px solid black;
    }
form input[type="email"]{ height: 70px;
      border-radius: 5px;
      width: 100%;
      background-color: white;
      padding:10px 20px;
      margin-bottom: 24px;
      border: 1px solid black;}
      .last-logo{text-align: center;padding-bottom: 0px;}
    .last-title{font-size: 100px;
    color: #4E47FF;}
    .last-subtitle{padding: 20px;color: #8987A1;
    height: 48px;width: 531px;margin: 0 auto;}
    footer{max-width: 1140px;}
  footer ul{display: flex;height: 24px;width: 401px;margin: 0 auto;
justify-content: space-between;color: #8987A1;
}
footer ul li{
    list-style: none;
}

footer li a{text-decoration: none;
    color: #000000;
}
   